<!DOCTYPE html>
<html>
<head>
  <title>банда гоблинов</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>



<body>
  
  <div class="main">
    <div class="map-block" id="map">
      <span class="corner-marker">0</span>
      <div class="arrow-right"></div>
      <div class="arrow-top"></div>
      <div class="line-top"></div>
      <div class="line-right"></div>
      <div class="tube vertical"></div>
      <div class="tube diagonal"></div>
    </div>
    <div class="panel-block">
    <div style="padding: 15px;">
      <div style="background: #f2f2f2; border-radius: 25px; padding: 50px 0; font-size: 1.25em; font-weight: bold; text-align: center; margin-bottom:15px;">
        НТО ЛР командная задача <br>
        банда гоблинов
      </div>
      <div class="button-panel">
        <button class="btn start-btn" onclick="start()">start</button>
        <button class="btn stop-btn" onclick="stop()">stop</button>
        <button class="btn kill-btn" onclick="kill()">kill switch</button>
      </div>

      <div style="display: flex; gap:12px; margin-bottom: 18px;">
        <div style="flex:1; background: #f2f2f2; border-radius:15px; padding:12px; font-size:1em;">
          <b>статус миссии:</b><br>
          <span id="mission-status">действий не била</span>
        </div>
        <div style="flex:1; background: #f2f2f2; border-radius:15px; padding:12px; font-size:1em;">
          <b>координаты дрона:</b> <br>
          <span id="drone-x">x: 0</span> <br>
          <span id="drone-y">y: 0</span> <br>
          <span id="drone-z">z: 0</span>
        </div>
      </div>

      <div class="found-vrez-block">
        <b>найденные врезки:</b> <br>
        <ul id="vrez-list"></ul>
      </div>
    </div>
  </div>


  <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>





